@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply overflow-hidden bg-surface h-screen w-screen;
}
  
.btn {
    @apply bg-surface text-white text-sm py-1 px-3 rounded hover:bg-surface-light;
}

.btn-primary {
    @apply bg-primary text-white text-sm py-2 px-3 rounded hover:bg-primary-light;
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: #0E78F9;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #fff, 0 0 5px #fff;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px);
}
.rc-tabs-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #394158;
    border-radius: 12px;
    padding: 4px;
    transition: none;
}
.rc-tabs-tab-btn {
    text-align: center;
    padding: 8px 16px;
    outline: none;
    align-self: center;
    width: 100%;
}
.rc-tabs-tab-btn:focus {
    outline: none;
}
.rc-tabs-tab-btn[aria-disabled="true"] {
    cursor: not-allowed
}
.rc-tabs-tab {
    min-width: 144px;
    background: #293042;
    border-radius: 10px;
    display: flex;
    min-height: 50px;
    cursor: pointer;
}
.rc-tabs-tab.rc-tabs-tab-active {
    background: #1e2532;
}
.rc-tabs-tabpane {
    outline: none;
    color: #fff;  
}
.rc-tabs-tabpane:focus {
    outline: none;
}
.rc-tabs-ink-bar {
    display: none;
}
.rc-tabs-nav-operations {
    display: none;
}
.rc-tabs-content-holder {
    padding: 20px 0;
}
